{% extends "register.html" %}

{% block body %}
<div class="bg-white shadow-md rounded-lg px-8 py-6">
  <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">Login to ReadX</h2>
  <form method="POST" class="space-y-4">
    {% block form %}
    {{ form.hidden_tag() }} <!-- Implements CSRF protection -->

    <!-- Email Field -->
    <div>
      <label for="email" class="block text-sm font-medium text-gray-600">
        {{ form.email.label.text }}
    </label>
    {{ form.email(id="email", class="block w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none text-gray-700") }}
    </div>

    <!-- Password Field -->
    <div>
      <label for="password" class="block text-sm font-medium text-gray-600">
        {{ form.password.label.text }}
      </label>
      {{ form.password(id="password", class="block w-full px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none text-gray-700") }}
    </div>

    <!-- Submit Button -->
    <div>
      {{ form.submit(class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500") }}
    </div>
    {% endblock %}
  </form>
</div>
{% endblock %}
