params {
    samples = '/data/fast/core/miseq/miseq_runs/241031_M08084_0024_000000000-LCKKM/Fastq/abaumani/*R{1,2}*.fastq.gz'
    outdir = '/data/fast/core/miseq/miseq_runs/241031_M08084_0024_000000000-LCKKM/seq_stats'
}
def species = [
    'kleb': ['/data/fast/core/helm_references/CP022127.klebs_pneumoniae.fasta', 5377031],
    'ecoli': ['/data/fast/core/helm_references/CP035826.e.coli.fasta', 5021581],
    'staph': ['/data/fast/core/helm_references/CP138862.s.aureus.fasta', 2836284],
    'aci': ['/data/fast/core/helm_references/CP049314.a.baumanni.fasta', 3935232],
    'spn': ['/data/fast/core/miseq/miseq_runs/241017_M08084_0022_000000000-LC3KN/AP026914.fasta', 2091587],
    'typhi': ['/data/fast/core/bactopia/datasets/species-specific/salmonella-enterica/optional/reference-genomes/AL513382.fasta', 4809037]
]

if (species.containsKey(params.species)) {
    params.ref = species[params.species][0]
    params.genome_size = species[params.species][1]
} else {
    println "Organism not recognized!!!"
    System.exit(1)
}


process {
    withLabel:bactopia {
        conda = "/home/bkutambe/miniconda3/envs/bactopia-dev"
    }

    withLabel:spades {
        conda = "/home/bkutambe/miniconda3/envs/spades"
    }

    withLabel:quast {
        conda = "/home/bkutambe/miniconda3/envs/quast"
    }
}


bactopia --samples samples.txt -profile docker  --outdir 2024.11.18.marvels_bactopia --use_bakta true --bakta_db /data/fast/core/bakta/db
